body {
    color: white;
    background-color: black;
}

.jogo {
    text-align: center;
    padding: 20px;
}
 
 header  img {
 width: 150px;
 height: 150px;
 border-radius: 50%;
 border: 5px solid snow;
}
 .pekka {
    text-align: center;
 }
 footer img {
    width: 150px;
    height: 150px;
   
 }
 footer {
    display: flex;
    justify-content: center;
 }
 
 a:hover {
    color: white;
    text-decoration: none;
 }





